@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: rgb(57,57,118);
    background: linear-gradient(rgba(23,34,86,1) 0%, rgba(57,57,118,1) 45%,rgba(142,99,157,1) 100%);
    /* height: 100vh; */
}

.cards {
    text-align: center;
}

.cards .content {
    position: relative;
    display: inline-block;
    margin: 15px auto;
    background-color: rgba(255,255,255,0.2);
    border-radius: 8px;

    padding: 15px 25px;

    color: whitesmoke;
    font-size: 16px;

    text-align: center;
    /* box-shadow: 3px 6px rgba(0,0,0,0,2); */
}