@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Nuntio';
    src: url(./fonts/Nunito-Regular.ttf) 
}

html {
    height: 100%;
    font-family: 'Nunito';
    font-size: 18px;
    letter-spacing: 0.5px;
}

body {
    width: 100%;
    background: rgb(124,178,219);
}

input {
    appearance: none; 
    background: none;
    outline: none;

    color: white;
    border-bottom: 2px solid white;
    width:11rem;
}

input::placeholder {
    color: rgb(230, 230, 230);
}

footer {
    font-size: 16px;
}

.web-title {
    letter-spacing: 2px;
}

.cards {
    text-align: center;
}

.cards i {
    font-size: large;
}

.cards .content {
    position: relative;
    display: inline-block;
    margin: 15px auto;
    background-color: rgba(255,255,255,0.2);
    border-radius: 8px;

    padding: 12px 25px;

    color: whitesmoke;
    font-size: 16px;

    text-align: center;
}

.forecast-min {
    color: rgb(230, 230, 230);
}